<nav class="main-nav">
  <div class="main-nav__container">
    <a href="/" class="main-nav__link">úvod</a>
    <a href="/360" class="main-nav__link">360</a>
    <a href="/zastavky" class="main-nav__link">Zastávky</a>
    <a href="/kdo_jsme" class="main-nav__link">Kdo jsme</a>
    <a href="/blog" class="main-nav__link">Blog</a>
    <a href="/pridejte_se" class="main-nav__link main-nav__link--cta">Přidejte se</a>
  </div>
</nav>