{% include "partials/head.njk" %}

{% include "partials/menu.njk" %}

<body class="site-layout">

  <main class="site-layout__main">
    {{ content | safe }}
  </main>


</body>

{% include "partials/footer.njk" %}
</html>